<div class="container">
	<div class="col-md-3">
		<div class="text-xs-center profile-block">
		  <img class="card-img-top"  ng-src="http://localhost:8080/home/profile/iceland.jpg" alt="Card image cap">
		  <img ng-click="page=default" class="avatar" ng-src="{{user.avatar}}" >
		  <div class="bottom">
		  	 <h5>{{user.displayname}}</h5>
		  	 <p>{{user.description}}</p>
		  	 <ul>
		  	 	<li> 
		  	 	<a ng-click="page='friends'">Friends</a>
			  	 	<h5>{{count}}</h5>
		  	 	</li>
		  	 </ul>
		  </div>
		</div>
		<div class="card">	
				<a ng-click="page='not'"><i class="fa fa-bell-o" aria-hidden="true"></i>  Notifications  <span class="badge">{{countnot}}</span></a>
		</div>
		<div class="card">
		
		<h5 style="font-size: 14px;">About ·     
			<label class="btn-menu">
	    	<input class="settings_input btn btn-primary btn-sm" type="checkbox" checked autocomplete="off" ng-click="page='settings'"> 
	    	<i class="fa fa-cog"></i>
			    </label>   
			    </h5>
			<ul>
			<li class="fullname animated pulse">{{info.name}}</li>
			<li class="location animated pulse">{{info.city}}</li>
			<li class="wechat animated pulse">{{info.wechat}}</li>
			<li class="email animated pulse">{{info.email}}</li>
			<li class="birthday animated pulse">{{info.birthday}}</li>
			<li class="phone animated pulse">{{info.phone}}</li>
			</ul>
		</div>
	</div>


<!-- Moment Start -->


	<div class="col-md-6">
		<div ng-switch on="page">
		<div class="card animated fadeIn" style="padding: 0;" ng-hide="edit" ng-switch-default >
			<div class="add-new-moment">
				<div class="form-group">
				  <div class="input-group" layout id="uploader">
				    <input type="text" class="form-control" ng-model='content'>
				    <span class="input-group-btn">
				      <button class="btn btn-default btn-moment" id="uploaderBtn" ng-disabled="uploading" type="button"><i class="fa fa-camera"></i>{{uploading? 'Uploading bro':' '}}</button>
				      <button class="btn btn-default btn-add" ng-if='content' ng-click="AddMoment()" type="button"><i class="fa fa-plus"></i> Add moment</button>
				    </span>
				 </div>
			  </div>
			</div>
			<div class="preview">
				 <img ng-if="img" style="width: 100%;" class="thumbnail animated fadeIn" ng-src="{{img}}">
			</div>
			<div class="moments" ng-repeat="activity in activities" style="padding: 20px;">
				<a href="#"><img class="moment-avatar" ng-src="{{activity.user.avatar}}"></a>
				<div class="content">
					<div class="author btn-group">
					<i class="fa fa-ellipsis-v moment-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
					<div class="dropdown-menu">
					    <a class="dropdown-item" ng-click="deleteMoment(activity.activity_id)"><i class="fa fa-trash"></i> Delete Post </a>
					</div>
						<small>{{activity.time_since}}</small>
						<h5>{{activity.user.display_name}}</h5>
					</div>
					<p class="moment" ng-bind-html="activity.content | limitHtml2 | limitHtml3"></p>
					<ul ng-repeat="comment in activity.comments">
						<li class="">	
							<a href="#">
							<img class="comment-avatar" ng-src="{{comment.avatar}}">
							</a>
							<p class="comment-moment">
								<strong>{{comment.display_name}} :</strong>  {{comment.content}}
							</p>
						</li>
					</ul>
					<div class="add-new-comment">
						<div class="form-group" style="padding: 0;">
						  <div class="input-group">
						    <input type="text" class="form-control" ng-model='new_comment'>
						    <span class="input-group-btn">
						     <button class="btn btn-default btn-add" ng-if='new_comment' ng-click="addComment(activity.activity_id)" type="button"><i class="fa fa-plus"></i></button>
						    </span>
						 </div>
					  </div>
					</div>
				</div>	
				<div class="moment-footer">
					<button class="btn btn-success" ng-click='Add2Favorite()'><i class="fa fa-heart-o"></i> {{activity.fav_count}}</button>
				</div>
			</div>
		</div>
	
		<div class="card" style="padding: 0;" ng-switch-when="friends">
			<ul class="list-group" >
				<li class="notif-header">
					<h3 class="alc"><i class="fa fa-users"></i> Friends</h3>
				</li>
				<li class="notify" ng-repeat="friend in friends">
					<a href="#/friend/{{friend.user_id}}">
						<img ng-src="{{friend.avatar}}" class="comment-avatar">
					</a>
							<strong> {{friend.username}} </strong>
							<i class="fa fa-close moment-menu" ng-click="DeleteNotifictaion(notif.id)"></i>
							<small>{{notif.time_since}}</small>
				</li>
			
			</ul>
		</div>
	

<!-- Setting start -->
<div class="card animated fadeIn" ng-switch-when="settings">
	<form >
	  <div class="form-group">
	    <p>Name: {{info.name}}</p> 

	    <label class="btn btn-settings right-btn">
	    	<input class="btn btn-primary btn-sm" type="checkbox" checked autocomplete="off" ng-model="name_edit"> 
	    	<i class="fa fa-cog"></i>
	    </label>   

			<div class="input-group" ng-hide="!name_edit">
		      <input type="text" class="form-control" id="formGroupExampleInput2" ng-model='name'>
		      <span class="input-group-btn">
		      	<button class="btn btn-secondary" type="button" ng-click="save_settings(); page=default">Go!</button>
		      </span>
		    </div>
	  </div>
	  <div class="form-group">
	    <p>City: {{info.city}}</p>
	    <label class="btn btn-settings right-btn">
	    	<input class="btn btn-primary btn-sm" type="checkbox" checked autocomplete="off" ng-model="city_edit" >
	    	<i class="fa fa-cog"></i>
	    </label>	   
			<div class="input-group"  ng-hide="!city_edit">		      
		      <input type="text" class="form-control" id="formGroupExampleInput2" ng-model='city' placeholder="{{city}}">
		      <span class="input-group-btn">		      
		        <button class="btn btn-secondary" type="button" ng-click="save_settings();">Go!</button>
		      </span>
		    </div>
	  </div>
	<div class="form-group">
	    <p>Birthday: {{info.birthday}}</p>
	    <label class="btn btn-settings right-btn">
	    	<input class="btn btn-primary btn-sm" type="checkbox" checked autocomplete="off" ng-model="birthday_edit" >
	    	<i class="fa fa-cog"></i>
	    </label>			       
			<div class="input-group"  ng-hide="!birthday_edit">		      
		      <input type="text" class="form-control" id="formGroupExampleInput2" ng-model='birthday' placeholder="{{birthday}}">
		      <span class="input-group-btn">		      
		        <button class="btn btn-secondary" type="button" ng-click="save_settings(); page=default">Go!</button>
		      </span>
		    </div>
	  </div>
	  <div class="form-group">
	    <p>Phone: {{info.phone}}</p>
	     <label class="btn btn-settings right-btn">
	    	<input class="btn btn-primary btn-sm" type="checkbox" checked autocomplete="off" ng-model="phone_edit" >
	    	<i class="fa fa-cog"></i>
	    </label>			      
			<div class="input-group"  ng-hide="!phone_edit">		      
		      <input type="text" class="form-control" id="formGroupExampleInput2" ng-model='phone' placeholder="{{phone}}">
		      <span class="input-group-btn">		      
		        <button class="btn btn-secondary" type="button" ng-click="save_settings(); page=default">Go!</button>
		      </span>
		    </div>
	  </div>
	  <div class="form-group">
	    <p>Wechat: {{info.wechat}}</p>
	    <label class="btn btn-settings right-btn">
	    	<input class="btn btn-primary btn-sm" type="checkbox" checked autocomplete="off" ng-model="wechat_edit" >
	    	<i class="fa fa-cog"></i>
	    </label>			       
			<div class="input-group"  ng-hide="!wechat_edit">		      
		      <input type="text" class="form-control" id="formGroupExampleInput2" ng-model='wechat' placeholder="{{wechat}}">
		      <span class="input-group-btn">		      
		        <button class="btn btn-secondary" type="button" ng-click="save_settings(); page=default">Go!</button>
		      </span>
		    </div>
	  </div>

	  <div class="form-group">
	     <p>Email: {{info.email}}</p>
	     <label class="btn btn-settings right-btn">
	    	<input class="btn btn-primary btn-sm" type="checkbox" checked autocomplete="off" ng-model="email_edit" >
	    	<i class="fa fa-cog"></i>
	    </label>	
			<div class="input-group"  ng-hide="!email_edit">		      
		      <input type="text" class="form-control" id="formGroupExampleInput2" ng-model='email' placeholder="{{email}}">
		      <span class="input-group-btn">		      
		        <button class="btn btn-secondary" type="button" ng-click="save_settings(); page=default">Go!</button>
		      </span>
		    </div>
	  </div>

	  <div class="form-group">
	  	<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="save_settings(); page=default">Save</button>
	   </div>
	</form>
	</div>

<!--Settings end --> 


<!-- Start Notifications  --> 
	<div class="card" style="padding: 0;" ng-switch-when="not">
			<ul class="list-group">
				<li class="notif-header">
					<h3 class="alc">Notifications</h3>
				</li>
				<li class="notify" ng-repeat="notif in notifications">
					<img ng-src="{{notif.sender_avatar}}" class="comment-avatar">
							<strong> {{notif.content}}</strong>
							<i class="fa fa-close moment-menu" ng-click="DeleteNotifictaion(notif.id)"></i>
							<small>{{notif.time_since}}</small>
				</li>
			</ul>
	</div>


	</div>


</div>



<!-- notif start-->
<div class="col-md-3">
	<div class="notification {{animate}}" ng-hide="out" >
				<div class="alert alert-success" role="alert" ng-repeat="notif in newnotifications" ng-click="notif_show()">
				 <img ng-src="{{notif.sender_avatar}}" alt="" style="width: 30px; border-radius: 100%;">  {{notif.content}}
				 <br>
				  <small>{{notif.time_since}}</small>
				</div>	 
		</div>
		<div class="clearfix"></div>
	</div>
</div>

